<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente Navbar</title>
    <link rel="stylesheet" href="/css/navbar.css">

</head>
<body>
    <nav class="navbar">
        <!-- Seccion del Logo -->
        <div class="navbar-logo">
            <a href="/html/index.html" class="logo-link">
                <img src="/assets/icons/super-mas-icon.png" alt="Logo SuperMás">
                <div class="logo-text">
                    <span class="logo-title">SuperMás</span>
                    <span class="logo-slogan">De todo, al mejor precio</span>
                </div>
            </a>
        </div>
        <!-- Seccion de Links -->
        <div class="navbar-links">
            <ul>
                <li class="dropdown">
                    <a class="nav-link" href="/html/productos.html">
                        Productos
                        <span class="dropdown-arrow">▾</span>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Alimentos</a>
                        <a href="#">Electrodomésticos</a>
                        <a href="#">Tecnología</a>
                        <a href="#">Limpieza</a>
                    </div>
                </li>
                <li>
                    <a href="/html/index.html" class="nav-link">Registrar venta</a>
                </li>
                <li>
                    <a href="/html/estadisticas.html" class="nav-link">Estadísticas</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>